/*==========  section home ==========*/
.home {
  background: url("../img/bg1.webp") no-repeat center;
    background-size: cover;
  color: #fff;
  position: relative;
  z-index: 1;
  padding: 130px 0 100px; }
  .home:before {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: 1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000), color-stop(15%, rgba(0, 0, 0, 0.63)), color-stop(105%, transparent));
    background: linear-gradient(to bottom, #000 0, rgba(0, 0, 0, 0.63) 15%, transparent 105%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }

.home-content {
  padding: 30px;
  width: 100%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 0 0 25px #000000;
          box-shadow: 0 0 25px #000000; }
  .home-content p {
    font-size: 22px; }
  .home-content .btn {
    margin: 40px 0 auto 40px; }

.description-text {
  margin: 20px 0;
  line-height: 1.5; }

.percent {
  text-transform: uppercase;
  color: #F06E28;
  position: absolute;
  right: 30px;
  bottom: 60px;
  font-size: 25px;
  font-weight: 600; }
  .percent:hover {
    color: #fff; }

/*==========  section home end  ==========*/
/*==========  section about-product ==========*/
.about-product {
  padding: 120px 0 100px; }

.about-product__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0 0;
  overflow: hidden; }
  .about-product__img img {
    width: 100%;
    -webkit-transition: 1s ease;
    transition: 1s ease; }
  .about-product__img:hover img {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05); }

.about-product-box {
  font-size: 18px;
  margin: 40px 0 0; }
  .about-product-box h3 {
    font-weight: bold;
    padding: 0 0 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 22px;
    margin: 0 0 20px;
    border-bottom: 2px solid #F06E28; }
  .about-product-box .box-text {
    max-width: 400px; }

/*==========  section about-product end  ==========*/
/*==========  section callback-prices ==========*/
.callback-prices {
  padding: 30px 0 40px;
  background: url("../img/bg2.webp") no-repeat center;
    background-size: cover;
  color: #fff;
  position: relative;
  z-index: 1; }
  .callback-prices:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .52;
    background: #0c0f14; }
  .callback-prices .btn {
    margin: 30px auto 0; }
  .callback-prices h2 {
    font-size: 32px; }

/*==========  section callback-prices end  ==========*/
/*==========  section advantages-product ==========*/
.advantages-product-wrapper {
  text-align: center; }
  .advantages-product-wrapper h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto 20px;
    text-align: center; }
    .advantages-product-wrapper h3 span {
      display: block; }
  .advantages-product-wrapper ul {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 30px;
    font-size: 18px;
    text-align: left; }
    .advantages-product-wrapper ul li {
      margin: 0 0 10px; }
      .advantages-product-wrapper ul li:last-child {
        margin: 0; }

.img-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto 0; }

.advantages-product h2 {
  font-size: 40px;
  margin: 0 0 45px; }

.question-wrapper {
  max-width: 450px;
  margin: 0 auto; }

.accordion .card {
  border-radius: 0;
  border: none;
    border-top: 1px solid #DDDDDD; }

.card-header {
  background: transparent;
  padding: 20px 0;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  font-size: 18px;
  border: none; }

.collapsed .accordion-icon:after {
  display: block; }

.accordion-icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18px;
  height: 18px;
  min-width: 18px; }
  .accordion-icon:before, .accordion-icon:after {
    content: '';
    position: absolute;
    background: #1B1B1C;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .accordion-icon:before {
    width: 100%;
    height: 2px; }
  .accordion-icon:after {
    width: 2px;
    height: 100%;
    display: none; }

.card-body {
  padding: 0 0 20px; }

/*==========  section advantages-product end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section works ==========*/
.works-box {
  width: 100%;
  text-align: center; }
  .works-box__name {
    font-weight: bold;
    font-size: 22px;
    line-height: 1.37;
    margin: 10px 0 0; }

.works-box-images {
  height: 210px !important; }

.twentytwenty-overlay:hover {
  background: transparent; }

.twentytwenty-after-label, .twentytwenty-before-label {
  opacity: 1; }

.twentytwenty-before-label:before, .twentytwenty-horizontal .twentytwenty-before-label:before {
  left: 30px; }

.twentytwenty-after-label:before, .twentytwenty-horizontal .twentytwenty-after-label:before {
  right: 30px; }

.twentytwenty-horizontal .twentytwenty-before-label:before, .twentytwenty-horizontal .twentytwenty-after-label:before {
  top: auto;
  bottom: 30px;
  padding: 0;
  margin: 0;
  background: transparent;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.37;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0; }

.twentytwenty-handle {
  width: 24px;
  height: 24px;
  border-width: 2px;
  margin-top: -14px;
  margin-left: -13px; }

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
  width: 2px; }

.twentytwenty-horizontal .twentytwenty-handle:after {
  margin-top: 18px; }

.twentytwenty-horizontal .twentytwenty-handle:before {
  margin-bottom: 18px; }

.twentytwenty-left-arrow {
  border-right-width: 4px;
  margin-left: -13px; }

.twentytwenty-right-arrow {
  border-left-width: 4px;
  margin-right: -13px; }

.video-wrapper {
  margin: 60px 0 0;
  width: 100%; }
  .video-wrapper h3 {
    font-size: 34px;
    width: 100%;
    line-height: 1.37;
    margin: 0 auto 30px;
    text-align: center; }

.video-about {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative; }
  .video-about iframe {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

/*==========  section works end  ==========*/
/*==========  section book-departure ==========*/
.book-departure {
  position: relative;
  background: url("../img/bg4.webp") no-repeat center;
    background-size: cover;
  z-index: 1;
  padding: 40px 0 10px; }
  .book-departure h2 {
    font-size: 34px;
    font-weight: normal;
    margin: 0 auto 50px; }
    .book-departure h2 span {
      display: block; }
  .book-departure:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(50%, rgba(250, 250, 250, 0.76)), color-stop(105%, transparent));
    background: linear-gradient(to bottom, #fafafa 0, rgba(250, 250, 250, 0.76) 50%, transparent 105%); }
  .book-departure .warranty-content {
    padding: 50px; }
    .book-departure .warranty-content ul {
      font-size: 25px; }
      .book-departure .warranty-content ul li {
        margin: 0 0 10px; }
    .book-departure .warranty-content h3 {
      margin: 0 0 20px;
      font-weight: bold;
      font-size: 30px;
      text-align: center; }

.call-box {
  background: #fff;
  padding: 30px 30px 40px;
  border-radius: 5px;
  max-width: 400px; }
  .call-box h3 {
    font-size: 32px;
    margin: 0 0 20px;
    line-height: 1.5; }

.form button {
  width: 100%; }

/*==========  section book-departure end  ==========*/
/*==========  section book-departure-v2 ==========*/
.book-departure-v2 {
  background: url("../img/bg3.webp") no-repeat center;
    background-size: cover; }
  .book-departure-v2 h2 {
    margin: 0 auto 20px; }
  .book-departure-v2 h5 {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 0 20px;
    position: relative;
    margin: 0 auto 30px; }
    .book-departure-v2 h5:before {
      content: '';
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      bottom: 0;
      background: #1B1B1C;
      width: 30px;
      height: 1px; }
  .book-departure-v2 .box-text {
    margin: 0 auto 70px;
    max-width: 1050px; }
  .book-departure-v2 .call-box h3 {
    font-size: 20px;
    text-align: center; }

/*==========  section book-departure-v2 end ==========*/
/*==========  section projects ==========*/
.projects {
  padding: 70px 0 20px; }
  .projects h3 {
    font-size: 22px;
    line-height: 1.37;
    max-width: 700px;
    margin: 0 auto; }

.projects-box {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff; }
  .projects-box__img {
    width: 100%;
    height: 247px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden; }
    .projects-box__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -webkit-transition: 1s ease;
      transition: 1s ease; }
    .projects-box__img:hover img {
      -webkit-transform: scale(1.05, 1.05);
              transform: scale(1.05, 1.05); }
  .projects-box__body {
    padding: 10px 30px 40px; }
  .projects-box .btn {
    margin: 30px auto 0; }
  .projects-box h4 {
    font-weight: 700;
    font-size: 22px;
    margin: 0 auto 20px; }
  .projects-box .box-text p {
    margin: 0 0 10px; }
    .projects-box .box-text p:last-child {
      margin: 0; }

/*==========  section projects end  ==========*/
/*==========  section reviews ==========*/
.reviews h2 {
  margin: 0 auto 50px; }

.reviews-box {
  padding: 30px;
  background: #1B1B1C;
  color: #fff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .reviews-box__content {
    margin: 0 0 40px; }
  .reviews-box__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto 0 0; }
  .reviews-box__avatar {
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    width: 60px;
    height: 60px;
    min-width: 60px;
    margin: 0 10px 0 0; }
  .reviews-box h4 {
    font-size: 18px;
    font-weight: bold; }

.bg-grey {
  background: #f5f5f5;
  color: #1B1B1C; }

.btn-all {
  margin: 40px auto 0; }

/*==========  section reviews end  ==========*/
/*==========  section warranty ==========*/
.warranty {
  background: url("../img/bg5.webp") no-repeat center;
    background-size: cover;
  position: relative;
  z-index: 1; }
  .warranty:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #F5F5F5;
    opacity: .90; }
  .warranty h2 {
    font-size: 25px;
    line-height: 1.37;
    padding: 0 0 30px;
    border-bottom: 1px solid #D5D8D2;
    text-align: center; }

.warranty-content {
  padding: 30px; }

.warranty-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/*==========  section warranty end  ==========*/
/*==========  section payment-service ==========*/
.payment-service {
  padding: 70px 0 10px; }
  .payment-service h3 {
    font-size: 22px;
    line-height: 1.37;
    margin: 0 auto 30px; }

.payment-service-box {
  margin: 35px 0 35px;
  width: 100%;
  text-align: center;
  min-height: 270px; }
  .payment-service-box__icon {
    padding: 15px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background: #1B1B1C; }
  .payment-service-box h4 {
    font-weight: bold;
    margin: 20px auto 30px;
    font-size: 22px; }
  .payment-service-box a {
    display: inline-block; }

/*==========  section payment-service end  ==========*/
/*==========  section advantages ==========*/
.advantages {
  position: relative;
  background: url("../img/bg5.webp") no-repeat center;
    background-size: cover;
  z-index: 1;
  padding: 70px 0 30px; }
  .advantages:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    opacity: .9; }

.advantages-box {
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 30px 30px 60px;
  text-align: center;
  min-height: 420px; }
  .advantages-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 20px;
    max-width: 100px;
    width: 100%; }
  .advantages-box h3 {
    font-weight: bold;
    font-size: 22px;
    line-height: 1.37;
    min-height: 80px; }
  .advantages-box .box-text {
    padding: 20px 0 0;
    width: 100%;
    border-top: 1px solid #E9E9E9; }

/*==========  section advantages end  ==========*/
/*==========  section why-company ==========*/
.why-company h2 {
  margin: 0 auto 20px; }

.why-company-box {
  text-align: center;
  margin: 45px 0 0; }
  .why-company-box .box-text {
    color: #878788; }
  .why-company-box h3 {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.37;
    margin: 0 auto 20px; }
  .why-company-box__number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    background: #545455;
    margin: 0 auto 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold; }

/*==========  section why-company end  ==========*/
/*==========  section contacts ==========*/
.contacts {
  padding: 60px 0; }
  .contacts .box-text {
    font-size: 22px;
    margin: 0 0 30px; }
  .contacts .list-social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 30px 0 50px; }
    .contacts .list-social li a {
      width: 24px;
      height: 24px; }
  .contacts .document-text {
    font-size: 18px;
    line-height: 1.5;
    max-width: 400px;
    margin: 20px 0 0; }

.contacts-content {
  padding: 30px 0 0; }

.contacts-box {
  padding: 20px 0;
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
  margin: 0 0 -1px; }

.map {
  width: 100%;
  height: 100%; }
  .map iframe {
    width: 100%;
    height: 100%; }

/*==========  section contacts end  ==========*/
/*==========  section installment-plan ==========*/
.installment-plan {
  position: relative;
  padding: 80px 0 110px; }
  .installment-plan:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: url("../img/bg6.webp") no-repeat center;
      background-size: cover;
    opacity: .15;
    width: 100%;
    height: 100%; }
  .installment-plan .box-text {
    line-height: 1.4;
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto 50px; }
    .installment-plan .box-text strong {
      display: inline; }
  .installment-plan .btn {
    margin: 0 auto; }

/*==========  section installment-plan end  ==========*/
